@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

.App {
    font-family: 'PT Sans Narrow', sans-serif;
    margin-left: 2em;
}

.emphButton  {
    font-weight: bold;
    color: red;
}